@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body {
  font-family: $font-body;
}

// icon font
i[class*="icon-"] {
  display: inline-block;
  line-height: 50%;

  &::before {
      display: inline-block;
      line-height: 1;
  }
}

@font-face {
  font-family: "icon-font";
  src: url('_public/fonts/icon-font/icon-font.eot'); /* IE9 Compat Modes */
  src: url('_public/fonts/icon-font/icon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('_public/fonts/icon-font/icon-font.woff') format('woff'), /* Pretty Modern Browsers */
     url('_public/fonts/icon-font/icon-font.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('_public/fonts/icon-font/icon-font.svg') format('svg'); /* Legacy iOS */
 }