// BRANDS COLORS
//
$color-vuejs: #41B883;


// COLORS
//
$color-primary: #0994af;

$color-bg: #0277BD;
$color-bg-gradient-from: #13547a;
$color-bg-gradient-to: #00acc1;

$color-cloak-bg: #13547a;
$color-cloak-pointer: #f44336;

// FONTS
//
$font-body: 'Open Sans', sans-serif;

