/**
  * @desc get font size
  * @info sizes map declared in variables.scss
  * @return {rem}
*/
@function font($size: 'base') {
  @return map-get($font-sizes, $size);
}

// generate shadow-sizes classes
@each $size, $shadow in $shadow-sizes {
  .shadow-#{$size} {
    box-shadow: $shadow;
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}